body {
    background-color: azure;
}

header {
    background-color: rgb(157, 242, 242);
}

.rows {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 20px;
}

.reg {
    margin-left: 800px;
}

form {
    box-shadow: 0 4px 15px rgba(0, 0, 0, 0.2);
    height: 500px;
    width: 400px;
    margin: 0 auto;
    padding: 20px;
    margin-top: 100px;
    margin-bottom: 200px;
    border-radius: 10px;
}

.au {
    text-align: center;
}

.box {
    width: 500px;
    height: fit-content;
}

.row {
    display: flex;
    justify-content: center;
}

a {
    text-decoration: none;
}

.content {
    text-align: center;
}

footer {
    background-color: rgb(157, 242, 242);
    padding: 20px;
}

.center {
    text-align: center;
}

button {
    background-color: aqua;
    border: none;
    color: black;
    font-size: 30px;
    border-radius: 20px;
}

input {
    font-size: 20px;
}

iframe {
    width: 100%;
    height: 200px;
}

.au {
    margin-bottom: 450px;
}

.conteiner {
    margin-bottom: 120px;
}

.con {
    text-align: center;
}

.contein {
    margin-bottom: 250px;
}

.butt {
    margin-top: -80px;
}
.m-b{
    margin-top: 90px;
}
